@import "lib/normalize";
@import "lib/h5bp-top";

@import "compass/css3/border-radius";

/* =============================================================================
    Extension Styles (i.e. jQuery plugins)
   ========================================================================== */






/* =============================================================================
    Base Template Styles
   ========================================================================== */

body {
    background: black;
}

.dot {
    position: absolute;
    width: 6px;
    height: 6px;
    @include border-radius(3px);

}





/* =============================================================================
    Module Styles
   ========================================================================== */






/* =============================================================================
    Page Specific Styles
   ========================================================================== */






/* =============================================================================
    I.E. fixes
   ========================================================================== */







@import "lib/h5bp-bottom";
